In [7]:
import pandas as pd

df = pd.read_csv('workshops.csv')
df

     Year Month  Start   End                Name Earnings
0  2021.0   NaN    NaN   NaN                 NaN      NaN
1     NaN  June    NaN   NaN                 NaN      NaN
2     NaN   NaN    1.0   3.0          gRPC in Go  $33,019
3     NaN   NaN    7.0  10.0   Optimizing Python  $42,238
4     NaN   NaN   28.0  30.0  python Foundations  $24,372
5     NaN  July    NaN   NaN                 NaN      NaN
6     NaN   NaN    5.0   8.0      go concurrency  $46,382
7     NaN   NaN   21.0  22.0   Writing Secure Go  $27,038

In [8]:
# Fill Year & Month
"""
Fix the data frame. At the end, row should have the following columns:
- start: pd.Timestemap
- end: pd.Timestamp
- name: str
- topic: str (python or go)
- earnings: np.float64
"""
df['Year'].fillna(method='ffill', inplace=True)
df['Month'].fillna(method='ffill', inplace=True)
df

/tmp/ipykernel_9799/148300219.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Year'].fillna(method='ffill', inplace=True)
/tmp/ipykernel_9799/148300219.py:10: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Year'].fillna(method='ffill', inplace=True)
/tmp/ipykernel_9799/148300219.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Month'].fillna(method='ffill', inplace=True)
/tmp/ipykernel_9799/148300219.py:11: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Month'].fillna(method='ffill', inplace=True)

     Year Month  Start   End                Name Earnings
0  2021.0   NaN    NaN   NaN                 NaN      NaN
1  2021.0  June    NaN   NaN                 NaN      NaN
2  2021.0  June    1.0   3.0          gRPC in Go  $33,019
3  2021.0  June    7.0  10.0   Optimizing Python  $42,238
4  2021.0  June   28.0  30.0  python Foundations  $24,372
5  2021.0  July    NaN   NaN                 NaN      NaN
6  2021.0  July    5.0   8.0      go concurrency  $46,382
7  2021.0  July   21.0  22.0   Writing Secure Go  $27,038

In [9]:
# Drop year & month rows
df = df[pd.notnull(df['Earnings'])].copy()
df

     Year Month  Start   End                Name Earnings
2  2021.0  June    1.0   3.0          gRPC in Go  $33,019
3  2021.0  June    7.0  10.0   Optimizing Python  $42,238
4  2021.0  June   28.0  30.0  python Foundations  $24,372
6  2021.0  July    5.0   8.0      go concurrency  $46,382
7  2021.0  July   21.0  22.0   Writing Secure Go  $27,038

In [10]:
# Convert start & end dates
def as_date(row, col):
    year = int(row['Year'])
    month = row['Month']
    day = int(row[col])
    ts = f'{month} {day}, {year}'
    return pd.to_datetime(ts, format='%B %d, %Y')

df['start'] = df.apply(as_date, axis=1, args=('Start',))
df['end'] = df.apply(as_date, axis=1, args=('End',))
df

,Year,Month,Start,End,Name,Earnings,start,end
2,2021.0,June,1.0,3.0,gRPC in Go,"$33,019",2021-06-01,2021-06-03
3,2021.0,June,7.0,10.0,Optimizing Python,"$42,238",2021-06-07,2021-06-10
4,2021.0,June,28.0,30.0,python Foundations,"$24,372",2021-06-28,2021-06-30
6,2021.0,July,5.0,8.0,go concurrency,"$46,382",2021-07-05,2021-07-08
7,2021.0,July,21.0,22.0,Writing Secure Go,"$27,038",2021-07-21,2021-07-22

In [11]:
# Extract topic
def topic(name):
    if 'go' in name:
        return 'go'
    if 'python' in name:
        return 'python'

df['topic'] = df['Name'].str.lower().apply(topic)
df

,Year,Month,Start,End,Name,Earnings,start,end,topic
2,2021.0,June,1.0,3.0,gRPC in Go,"$33,019",2021-06-01,2021-06-03,go
3,2021.0,June,7.0,10.0,Optimizing Python,"$42,238",2021-06-07,2021-06-10,python
4,2021.0,June,28.0,30.0,python Foundations,"$24,372",2021-06-28,2021-06-30,python
6,2021.0,July,5.0,8.0,go concurrency,"$46,382",2021-07-05,2021-07-08,go
7,2021.0,July,21.0,22.0,Writing Secure Go,"$27,038",2021-07-21,2021-07-22,go

In [15]:
# Earnings
import numpy as np
df['earnings'] = pd.to_numeric(
    df['Earnings'].str.replace(r'[$,]', '', regex=True)
).astype(np.float64)
df

,Year,Month,Start,End,Name,Earnings,start,end,topic,earnings
2,2021.0,June,1.0,3.0,gRPC in Go,"$33,019",2021-06-01,2021-06-03,go,33019.0
3,2021.0,June,7.0,10.0,Optimizing Python,"$42,238",2021-06-07,2021-06-10,python,42238.0
4,2021.0,June,28.0,30.0,python Foundations,"$24,372",2021-06-28,2021-06-30,python,24372.0
6,2021.0,July,5.0,8.0,go concurrency,"$46,382",2021-07-05,2021-07-08,go,46382.0
7,2021.0,July,21.0,22.0,Writing Secure Go,"$27,038",2021-07-21,2021-07-22,go,27038.0

In [16]:
# Cleanup
df = df[['start', 'end', 'Name', 'topic', 'earnings']]
df.rename(columns={'Name': 'name'}, inplace=True)
df

/tmp/ipykernel_9799/963991019.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Name': 'name'}, inplace=True)

       start        end                name   topic  earnings
2 2021-06-01 2021-06-03          gRPC in Go      go   33019.0
3 2021-06-07 2021-06-10   Optimizing Python  python   42238.0
4 2021-06-28 2021-06-30  python Foundations  python   24372.0
6 2021-07-05 2021-07-08      go concurrency      go   46382.0
7 2021-07-21 2021-07-22   Writing Secure Go      go   27038.0